<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
      Puppy Name: <h2><%= @name %></h2><br />
      Puppy Breed: <h2><%= @breed %></h2><br />
      Puppy Age: <h2><%= @age %></h2><br />
  </body>
</html>
